.container {
  margin-top: 2%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url('logo.jpg');
  border-radius: 20px;
  background-size: 100% 120%;
  width: 90%;
  opacity: 90%;
  height: 100%;
}

.ava {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 30%;
  cursor: pointer;
}

.ava img {
  background-color: rgba(146, 242, 239, 0.17);
  border: solid;
  border-color: rgba(146, 242, 239, 0.359);
  height: 100%;
  width: 100%;
  border-radius: 100%;
  cursor: pointer;
}
.ava img:hover{
  box-shadow: 0px 0px 10px 1px rgba(3, 105, 76, 0.919);
  transition: 500ms;
}
.right h1 {
  font-size: 40px;
  color: rgba(3, 105, 76, 0.919);
  text-decoration: underline rgba(3, 105, 76, 0.919);
}

textarea {
  border-radius: 20px;
  font-size: 18px;
  height: 80px;
  width: 100%;
  margin-top: 0px;
}
input[type='file'] {
  display: none;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {
  .right h1 {font-size: 35px;}
  textarea {font-size: 16px;}
  .uploadButton img {
    width: 60%;
    height: 60%;
  }
}
@media (max-width: 1024px) {
  .right h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .right h1 {
    font-size: 20px;
  }
}

@media (max-width: 690px) {
  .right h1 {
    font-size: var(--font-size-690);
  }
  .uploadButton img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 500px) {
  .right h1 {
    font-size: var(--font-size-490);
  }
  .uploadButton img {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 410px) {
  .right h1 {
    font-size: var(--font-size-390);
  }
  .uploadButton img {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 366px) {
  .right h1 {
    font-size: 9px;
  }
  .uploadButton img {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 344px) {
  .right h1 {
    font-size: 9px;
  }
  .uploadButton img {
    width: 8px;
    height: 8px;
  }
}
