.container{
  margin-left: 80px;
  display: grid;
  width: 92%;
  height: 100vh;
  border: solid;
  border-radius: 30px;
  border-color: rgb(103, 103, 103);
  border-width: 0.5px;
  background-color: rgb(70, 70, 70);
  
}