.container{width: 90%;height: fit-content;margin-left: 5%;}
.userContainer{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    width:100%;
    margin-top: 10px;
}

.subUserContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.userImg{height: fit-content;width: 30px;color: white;}
.userImg img{height: 30px;width: 30px; }
.userName{width: 100px;}

.postContainer{
    background-color: rgb(208, 207, 207);
    width: 98%;
    height: fit-content;
    border: solid gray 0.5px;
    border-radius: 20px;
    padding-left: 2%;
}

  @media (max-width:690px){
    .postContainer{font-size: var(--font-size-690)}
    .userImg{font-size: var(--font-size-690)}
  }
  
  @media (max-width:490px){
    .postContainer{font-size: var(--font-size-490)}
    .userImg{font-size: var(--font-size-490)}
 
  }
  
  @media (max-width:390px){
    .postContainer{font-size:var(--font-size-390)}
    .userImg{font-size: var(--font-size-390)}
    }