.dialogContainer{
display: grid;  
grid-template-areas: 
'User Message'
'Text Text';
border: solid;
}

.userContainer{
    grid-area: 'User';
    margin-top: 10px;
    display: grid;
    background-color: rgba(209, 210, 210, 0.681);
    width: 300px;
    height:50px;
    grid-template-columns: 1fr 4fr;
    border: solid rgb(130, 130, 130);
    border-width: 0.5px;
    border-radius: 16px 0 0 16px;
    border: solid;
}
.userContainer:hover{background-color: rgba(181, 184, 184, 0.681);}


.userAva{
    margin: auto;
    width: 30px;
    height:30px;
    border: solid rgba(220, 220, 220, 0.69);
    border-radius: 20px;
    border-color: black;
    border-width: 0.5px;
}
.userAva:hover{
background-color: rgba(0, 0, 255, 0.2);
}

.userName{
    margin: auto;
    color: black;
    text-align:start;
    font-size: 20px;
}
.userName:hover{
    font-weight: bold;
    font-size: 20px;
}

.userMessage{
    grid-area: 'Message';
    margin-top: 10px;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgba(209, 210, 210, 0.681);
    width: 500px;
    height:45px;
    border-radius: 0 16px 16px 0;
    border: solid rgb(130, 130, 130);
    border-width: 0.5px;
    border: solid;
}
.bottom textarea{
    grid-area: 'Text';
    width: 800px;
    height: 200px;
    border: solid;

}