.container{
    display: grid;
    width: 90%;
    margin: 0 50px 0 20px;
    height:fit-content;
    border:  rgb(103, 103, 103) solid;
    border-radius: 30px;
    border-width: 0.5px;
    background-color: rgb(70, 70, 70);
}
.container p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.subcontainer{
    border: solid;
    width: 90%;
    height:300px;
    border:  rgb(192, 192, 192) solid;
    border-radius: 30px;
    border-width: 0.5px;
    background-color: rgb(168, 165, 165);
    margin-top: 1%;
    margin-left:5%;

    display: grid;
grid-template-columns: 1fr 3fr;     
}


.subcontainer:hover{
    background-color: rgb(215, 213, 213);
    transition: 400ms;
}
.lColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.rColumn{
    margin: 1%;
}
.subcontainer img{
    width: 200px;
    height: 200px;
}

.subcontainer h3{
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}
.subcontainer h4{
    margin:2%;
    font-size: 15px;
    font-weight: bold;
}

@media (max-width:1280px) {
    .subcontainer img{width: 150px; height: 150px;}
    .title h3{font-size: 20px;}
}
@media (max-width:1024px) {
    .subcontainer img{ width: 110px;height: 110px;}
    .title h3{font-size: 18px;}
    .summary h4{font-size:15px;}
    .summary{font-size:13px;}

    .date h4{font-size: 15px;}
    .date {font-size: 13px;}
}
@media (max-width:768px) {
    .subcontainer img{width: 85px;height: 85px;}
    .title h3{font-size: 16px;}
    .summary h4{font-size:14px;}
    .summary{font-size:12px;}

    .date h4{font-size: 14px;}
    .date {font-size: 12px;}
}

@media (max-width:690px) {
    .subcontainer img{width: 55px;height: 55px;}
    .title h3{font-size: 14px;}
    .summary h4{font-size:13px;}
    .summary{font-size:11px;}

    .date h4{font-size: 13px;}
    .date {font-size: 11px;}
}

@media (max-width:500px) {
    .subcontainer img{width: 35px;height: 35px;}
    .title h3{font-size: 12px;}
    .summary h4{font-size:11px;}
    .summary{font-size:10px;}

    .date h4{font-size: 11px;}
    .date {font-size: 10px;}
}

@media (max-width:366px) {
    .title h3{font-size: 10px;}
    .summary h4{font-size:9px;}
    .summary{font-size:8px;}

    .date h4{font-size: 9px;}
    .date {font-size: 8px;}
}