.app-wrapper{
  display: grid;
  grid-template-rows: 150px 800px;
  grid-template-columns: 0.5fr 4fr;
  grid-template-areas: 
  "h h"
  "n p";
}

.app-wrapper-content{
  margin-top: 10px;
  grid-area: p;
}