.nav{
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 10%;
  padding-top: 10%;
  grid-area: n;
  background-color: rgb(38, 38, 38);
}
.nav p{
  font-size: 15px;
  list-style: none;
  text-decoration:none;
  color:white;
  font-weight: bold;
}

p:hover{
  color:rgba(4, 252, 194, 0.647);
  transition: 400ms;
}

link{
  text-decoration: none;
}

