.Dialog{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 790px;
    grid-template-areas: 
    'users dialog';

}
.messages{
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 20px;
    border: solid;
    grid-area: 'dialog';
}

.userArea{
    grid-area: 'users';
    grid-template-rows: 790px;
}
.dialogsItem{
    background-color: aqua;
    border: solid;
    padding-left: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20px;
    grid-template-areas: 
    'ava Person';
    
}

.user{
    grid-area: 'Person';
    background-color: green;
}

.avatars{
    grid-area: 'ava';
    width: 20px;
    height: 20px;
    border: solid rgb(144, 144, 144);
    border-width: 0.5px;
    border-radius: 20px;
    background-color: rgb(204, 204, 204);    
}
